@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply  bg-[#EDEEF0] ;
  scroll-behavior: smooth;  
}


.input-contact{
    @apply caret-[#16dcdc] font-sans bg-gray-950 border-b-2 border-[#0e7373] focus:border-[#16dcdc] transition duration-150  outline-none;
}

.experiment::before{
    content: "sdssdd";
    color: #fff;
    position: relative;
    z-index: 9999;
}

.selected{
    filter: drop-shadow(0 0 15px #16dcdc);
}
.mern-shadow{
    filter: drop-shadow(0 0 20px #89909B);
}
.mern-shadow-express{
    filter: drop-shadow(0 10px 15px );
}

.scrollbar-skills::-webkit-scrollbar{
    @apply h-2 cursor-pointer
}
.scrollbar-skills::-webkit-scrollbar-thumb{
    @apply bg-[#16CDC4] rounded-md
}
body::-webkit-scrollbar{
    @apply hidden}
    
.exp{
   @apply w-6 h-[6px]
}
.icon-top{
    @apply hover:scale-105 transition duration-150 cursor-pointer
}
