@tailwind base;
@tailwind components;
@tailwind utilities;
*,html{
  scroll-behavior: smooth !important;
}

.adsdas{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}



body{
  @apply  bg-[#EDEEF0] ;
}

.scollbar-textArea::-webkit-scrollbar{
    @apply w-1 cursor-pointer
} 
.scollbar-textArea::-webkit-scrollbar-thumb{
    @apply bg-[#0e7373]
}
.containner-contact{
    @apply my-3
}
.label-contact{
    @apply font-sans
}
.input-contact{
    @apply caret-[#16dcdc] font-sans bg-transparent px-2 min-w-[300px] max-w-[400px] border-b-2  transition duration-150  outline-none;
}
.input-contact-error{
    @apply text-violet-600 font-sans   
}
.input-contact-button{
    @apply duration-150 cursor-pointer px-4 rounded-full h-7 text-[#141535] bg-[#0e7373] focus:bg-[#16dcdc] hover:bg-[#16dcdc]
}
.link-header{
    @apply font-semibold hover:underline hover:text-gray-200 duration-150
}
.selected{
    filter: drop-shadow(0 0 15px #16dcdc);
}
.mern-shadow{
    filter: drop-shadow(0 0 20px #89909B);
}
.mern-shadow-express{
    filter: drop-shadow(0 10px 15px );
}

.scrollbar-skills::-webkit-scrollbar{
    @apply h-2 cursor-pointer
}
.scrollbar-skills::-webkit-scrollbar-thumb{
    @apply bg-[#16CDC4] rounded-md
}
body::-webkit-scrollbar{
    @apply hidden}
    
.exp{
   @apply w-6 h-[6px]
}
.icon-top{
    @apply hover:scale-105 transition duration-150 cursor-pointer
}
